html, 
body {
    height: 100%;
    min-height: 100%;
}

.MainContainer {
    background-color: rgb(128, 128, 128);
    display:block;
    float:center;
    width:998px;
    height: 100%;
    margin: 0 auto;
}
.MainSite {
    background-color: white;
    display:block;
    float:center;
    width:992px;
    height: 100%;
    margin: 0 auto auto auto;
}